nav.navbar.navbar-light.bg-info.navbar-expand-lg
    div.container-fluid
        a(href="/").navbar-brand
            img(src="../image/logo.png", width="30", height="30").d-inline-block.align-top
            strong.mx-4 NodeTS
        button(data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                li.nav-item
                    a(href="/").nav-link Home
                li.nav-item
                    a(href="/comment").nav-link Comment
                li.nav-item
                    a(href="/comment/posts").nav-link Posts
