<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <%- include("../shared/_header") %>
</head>
<body>
    <%- include("../shared/_navbar") %>

    <div class="container">
        <h1 class="text-center my-4">HOME PAGE</h1>
        <img src="./image/js-go.png" class="mx-auto d-block mt-5">
        <h3 class="text-center mb-4">
            Golang vs JavaScript
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Architecto dicta error et eveniet inventore nostrum perferendis
            repudiandae! Ad, aliquam doloremque fuga inventore laboriosam
            molestiae nam quis reiciendis temporibus! Hic, provident.
        </p>
    </div>

    <%- include("../shared/_footer") %>
</body>
</html>
