extends  ../shared/_layout
append title
    - NPage = "Home Page"
block body
    div.container
        h1.text-center.my-4 Golang vs JavaScript
        img(src="../image/js-go.png").mx-auto.d-block.mt-5
        h3.text-center.mb-4 NodeTS
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cupiditate nulla quod. Consequatur cumque, deserunt dolore, earum id, ipsum iure laudantium magnam modi nisi saepe soluta temporibus vel veritatis.
